<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <title>AcadShare</title>
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a class="navbar-brand" href="/">AcadShare</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/practice">Practice</a>
                 </li>
               <li class="nav-item">
                  <a class="nav-link" href="/interviews">Interviews</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/chat">Chat</a>
               </li>
               
            </ul>
         </div>
      </nav>

      <div class="container pb-5 border-bottom" style = "margin-top: 50px ; margin-bottom : 25px">
         <div class="row align-items-center">
           <div class="col-6 mx-auto col-md-6 order-md-2">
             <img class = "float-right" src="logo.png" style = "height : 300px">
           </div>
           <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
             <h1 class="mb-3 bd-text-purple-bright">AcadShare</h1>
             <p class="lead">
               Smartly Prepare Yourself for Interviews.
             </p>
             <p class="lead">
               Practice | Share | Communicate
             </p>
             <p class="lead mb-4">
               AcadShare is a platform where you can prepare yourself in a well organised way for the interviews.
               There are lots of Data Structure and Algorithm problems on internet and it is quite impossible for 
               a person to practice all of them. So it is really important that you practice a list of few problems 
               which are really important and covers almost every concepts.
             </p>
           </div>
         </div>
       </div>


       <div class="container pb-5 border-bottom" style = "margin-bottom : 50px">
          <div class="row align-items-center">
            <div class="col-6 mx-auto col-md-6 order-md-1 float-left">
              <img class = "float-left" src="practice.png" style = "width : 500px">
            </div>
            <div class="col-md-6 order-md-2 text-center text-md-left pr-md-5">
              <h1 class="mb-3 bd-text-purple-bright">Practice</h1>
              <p class="lead mb-4">
                Practice section contains a list of important Data Structure and Algorithm problems 
                which are mostly asked in an interview. The list is well sorted and prepared by analysing
                lots of interview experiences.
              </p>
              <div class="row mx-n2">
                <div class="col-md px-2">
                  <a href="/practice" class="btn btn-lg btn-outline-primary w-100 mb-3">Practice</a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="container pb-5 border-bottom" style = " margin-bottom : 50px">
            <div class="row align-items-center">
              <div class="col-6 mx-auto col-md-6 order-md-2 float-left">
                <img class = "float-right" src="interview.png" style = "width : 400px">
              </div>
              <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
                <h1 class="mb-3 bd-text-purple-bright">Interviews</h1>
                <p class="lead mb-4">
                  Interviews section contain all the important interview experiences.
                  You can also share your own interview experiences here. These interview experiences can be
                  sorted according to the company name and tags.
                </p>
                <div class="row mx-n2">
                  <div class="col-md px-2">
                    <a href="/interviews" class="btn btn-lg btn-outline-primary w-100 mb-3">Share</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="container pb-5 border-bottom" style = "margin-bottom : 50px">
              <div class="row align-items-center">
                <div class="col-6 mx-auto col-md-6 order-md-1 float-left">
                  <img class = "float-left" src="chat.png" style = "height : 300px">
                </div>
                <div class="col-md-6 order-md-2 text-center text-md-left pr-md-5">
                  <h1 class="mb-3 bd-text-purple-bright">Chat</h1>
                  <p class="lead mb-4">
                    Chat section is a discussion forum where you can raise your doubts related to
                    any problem.
                  </p>
                  <div class="row mx-n2">
                    <div class="col-md px-2">
                      <a href="/chat" class="btn btn-lg btn-outline-primary w-100 mb-3">Chat</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

      <div class="jumbotron text-center" style="margin-bottom:0">
         <p>  Designed and built by 
           <a href="https://www.linkedin.com/in/ashuray/">ashutosh</a>
            and 
           <a href="https://www.linkedin.com/in/abhishek-karn-022b88125/">abhishek.</a>
           Contribute on 
            <a href="https://github.com/ashuray/AcadShare">GitHub.</a> 
          </p>
          
          <p>
              © 2019 Copyright: 
              <a href="https://github.com/ashuray">ashuray</a>
          </p>
       </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
  </html>